---
import { fade } from 'astro:transitions';
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects.astro";
import { PROJECTS } from "@/constants/projects";
import Main from "@/components/Main.astro";
import Experience from '@/components/Experience.astro';
import Education from '@/components/Education.astro';
import AboutMe from '@/components/AboutMe.astro';
import { Certificates } from '@/components/Certificates';

---
<Layout
  title="Daniel Vásquez"
  description="Soy Desarrollador Full Stack, poseo una sólida experiencia en programación de alrededor de un dos años, durante el cual he trabajado en proyectos desafiantes utilizando lenguajes de programación como Python y herramientas de servicios en la nube de AWS, como: S3 y Cloudwatch."
>
  <div 
    class="container max-w-7xl m-auto mb-10 p-4 lg:mt-0" 
    transition:animate={fade({ duration: '0.5s' })}
  >
    <Main />
    <AboutMe />
    <Experience />
    <Education />
    <Certificates />
    <Projects projects={PROJECTS} />
  </div>
</Layout>
