---
import Layout from "@/layouts/Layout.astro";
import instaImg from "@/images/ecommerce.webp"

const INFO = [
  "API de Rick and Morty.",
  "Tailwind CSS.",
  "Redux",
  "Redux Persist.",
  "Ant Design.",
  "Páginas de Login, Home, Detalles del producto, Carrito de compras.",
]

---

<Layout
  title="Ecommerce"
  description="Rick and Morty es una Ecommerce que permite a los usuarios comprar tarjetas de la serie de Rick and Morty desde una tienda en línea."
>
  <div class="container mt-32 max-w-7xl m-auto my-9 px-4 lg:h-screen">
    <a
      class="text-golden hover:underline"
      href="https://ecommerce-react-lime.vercel.app/"
      target="_black"
      title="Visitar"
    >
      <h1 class="text-4xl text-center mb-4 py-3 font-extrabold">
        Ecommerce Rick and Morty
      </h1>
    </a>

    <div class="flex flex-col gap-6 lg:flex-row">
      <a
        class="rounded-lg aspect-video border border-border"
        href="https://ecommerce-react-lime.vercel.app/"
        target="_black"
        title="Visitar"
      >
        <img
          class="rounded-lg aspect-video m-auto"
          src={instaImg.src}
          alt="Instagram"
        />
      </a>
      <div class="bg-blue-medium rounded-lg py-5 px-7">
        <h1 class="text-golden text-3xl font-extrabold">Instagram</h1>
        <p class="text-white">
          Proyecto hecho con{" "}
          <span class="text-blue-500 text-lg font-semibold">
            React JS
          </span>
          y cuenta con:
        </p>
        <ul class="flex flex-col gap-2 my-2 text-white">
          {INFO.map((info) => (
            <li class="flex gap-2">
              <span class="text-golden">►</span>
              {info}
            </li>
          ))}
          <span class="text-gray-300 sm:text-lg">
            *Utiliza cualquier
            <strong class="text-golden underline">correo</strong> y 
            <strong class="text-golden underline">contraseña</strong>.*
          </span>
        </ul>
        <div class="flex gap-5">
          <a
            class="bg-golden text-black font-semibold flex justify-center items-center px-5 py-3 rounded-md hover:bg-blue-medium hover:text-white"
            href="https://ecommerce-react-lime.vercel.app/"
            target="_black"
          >
            Visitar
          </a>

          <a
            class="bg-golden text-black font-semibold flex justify-center items-center px-5 py-3 rounded-md hover:bg-blue-medium hover:text-white"
            href="https://github.com/Daniel-Vasquez/ecommerce-react"
            target="_black"
          >
            Ver código
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
