---

---

<div id="acerca-de" class="h-20"></div>
<section class="bg-blue-light m-auto flex flex-col gap-10 mt-11 rounded-3xl">
  <div class="flex flex-col gap-4 mx-auto text-black p-8 rounded-3xl border-2 border-border">
    <p class="text-3xl font-bold text-golden border-b-2 border-border pb-2 lg:text-5xl">
      Acerca de mí:
    </p>

    <p class="text-lg mb-4">
      Mi camino en el desarrollo web comenzó con una sólida formación en
      tecnologías frontend, donde adquirí habilidades en
      <span class="font-semibold text-golden">JavaScript</span>,
      <span class="font-semibold text-golden">React</span> y el manejo de librerías
      y frameworks modernos que me permitieron construir interfaces de usuario eficientes
      y dinámicas. A medida que avancé en mi carrera, tuve la oportunidad de aplicar
      estos conocimientos en diferentes roles y proyectos, lo que me llevó a explorar
      un amplio espectro de tecnologías y metodologías.
    </p>

    <h2 class="text-2xl font-semibold text-black mb-2">
      Experiencia en Shopify: Desarrollo Web.
    </h2>
    <p class="text-lg mb-4">
      Durante mi etapa en <span class="font-semibold text-golden">Atoms</span
      >, me sumergí en el mundo de <span class="font-semibold text-golden"
        >Shopify</span
      >, un entorno que me permitió combinar mi experiencia en JavaScript con el
      uso de <span class="font-semibold text-golden">Liquid</span>, el
      lenguaje de plantillas específico de Shopify. Aquí, participé en el
      desarrollo de nuevas características para tiendas en línea, optimizando la
      experiencia de usuario y personalizando la funcionalidad según las
      necesidades de clientes como
      <span class="font-semibold text-golden">Máscara de Látex</span>,
      <span class="font-semibold text-golden">Cross México</span>,
      <span class="font-semibold text-golden">Achemex</span> y
      <span class="font-semibold text-golden">Suntastic</span>. Mi enfoque
      incluyó la creación de componentes reutilizables en Liquid, la
      implementación de scripts JavaScript para mejorar la interactividad del
      usuario, y la integración de Shopify con herramientas de análisis y
      marketing. Esta experiencia consolidó mi capacidad para trabajar con
      plataformas de comercio electrónico, permitiéndome desarrollar soluciones
      que no solo cumplían con los requerimientos técnicos, sino que también
      mejoraban la conversión y la satisfacción del cliente.
    </p>

    <h2 class="text-2xl font-semibold text-black mb-2">
      Neximo (iad México): Automatización de procesos.
    </h2>
    <p class="text-lg mb-4">
      En <span class="font-semibold text-golden">Neximo (iad México)</span>,
      mi rol como becario en automatización de procesos me permitió ampliar mi
      expertise en desarrollo web hacia áreas más especializadas como la
      automatización y la gestión de datos en la nube. Utilizando <span
        class="font-semibold text-golden">Python</span
      > y <span class="font-semibold text-golden">Selenium</span>, desarrollé
      scripts para la extracción y procesamiento de datos que se integraban con
      servicios de <span class="font-semibold text-golden">AWS</span> como
      <span class="font-semibold text-golden">S3</span> y
      <span class="font-semibold text-golden">CloudWatch</span>. Aquí, diseñé
      un sistema automatizado para el monitoreo de leads y correos electrónicos,
      lo que permitió a la empresa mantener un seguimiento constante y preciso
      de las interacciones con sus clientes. La experiencia en Neximo no solo
      profundizó mis conocimientos en Python y AWS, sino que también me permitió
      desarrollar una mentalidad orientada a la automatización y la eficiencia
      en la gestión de grandes volúmenes de datos.
    </p>

    <h2 class="text-2xl font-semibold text-black mb-2">
      Salinas Abogados: Desarrollador Web.
    </h2>
    <p class="text-lg mb-4">
      En <span class="font-semibold text-golden">Salinas Abogados</span>,
      desempeñé un papel crucial en la creación de soluciones web específicas
      para el sector legal. Utilizando tecnologías frontend como 
      <span class="font-semibold text-golden">Astro</span>,
      <span class="font-semibold text-golden">Tailwind</span>,
      <span class="font-semibold text-golden">Redux</span>,
      <span class="font-semibold text-golden">TypeScript</span> y
      <span class="font-semibold text-golden">JavaScript</span>, junto con mi
      experiencia en backend, desarrollé sistemas y páginas web que facilitaban
      la gestión de casos y la interacción con clientes. Mi trabajo incluyó la
      integración de herramientas de gestión de contenido, la implementación de
      formularios interactivos y el desarrollo de sistemas seguros para la
      transmisión de información confidencial. Esta experiencia me permitió
      entender las necesidades específicas del sector legal y desarrollar
      soluciones tecnológicas que optimizaron los procesos internos de la firma,
      mejorando la eficiencia operativa y la satisfacción del cliente.
    </p>

  </div>
</section>
