---
import { EXPERIENCE } from "@/constants/experience";
---

<section class="bg-blue-light my-8 p-5 rounded-xl">
  <div class="personal-info-title">
    <p class="text-white text-3xl text-center font-semibold mb-5 sm:text-start">
      Experiencia
    </p>
  </div>
  <div class="flex flex-col gap-7 rounded-lg text-white">
    {EXPERIENCE.map(({ name, position, skills, start_date, end_date, link }) => (
      <div class="flex flex-col gap-1 border-b-2 border-white pb-2">
        <div class="flex flex-wrap gap-1">
          <strong>Empresa:</strong>
          <a
            class="text-golden font-semibold text-base hover:text-blue-600"
            href={link}
            target="_blank"
          >
            {name}
          </a>
          <span class="text-gray-400 font-semibold">
            {`(${ start_date } - ${ end_date }).`}
          </span>
        </div>
        { position && <p><strong>Posición:</strong> {position}.</p>}
        <p>
          <strong>Experiencia con:</strong>
          <span class="font-semibold text-blue-300">{skills}.</span>
        </p>
      </div>
    ))}
  </div>
</section>
