---
import { EXPERIENCE } from "@/constants/experience";
---

<div id="experiencia" class="h-20"></div>
<section class="bg-blue-light border-2 border-border my-8 px-8 py-7 rounded-3xl">
  <div class="personal-info-title">
    <p class="text-3xl font-bold text-golden pb-2 lg:text-4xl">
      Experiencia.
    </p>
  </div>
  <div class="flex flex-col gap-7 rounded-lg text-black">
    {EXPERIENCE.map(({ name, position, skills, start_date, end_date, link }) => (
      <div class="flex flex-col gap-1 border-b text-lg border-black pb-2">
        <div class="flex flex-wrap items-center gap-1">
          <strong>Empresa:</strong>
          <a
            class="text-golden font-semibold text-xl hover:text-blue-600"
            href={link}
            target="_blank"
          >
            {name}
          </a>
          <span class="text-gray-400 font-semibold">
            {`(${ start_date } - ${ end_date }).`}
          </span>
        </div>
        { position && <p><strong>Posición:</strong> {position}.</p>}
        <p>
          <strong>Experiencia con:</strong>
          <span class="font-semibold text-blue-300">{skills}.</span>
        </p>
      </div>
    ))}
  </div>
</section>
