---
import SocialNetworks from "@/components/SocialNetworks.astro";
const PUBLIC_LINKEDIN_LINK = import.meta.env.PUBLIC_LINKEDIN_LINK;

---

<footer>
  <div class="bg-blue py-14 px-5">
    <div>
      <SocialNetworks />
    </div>
    <div class="text-md text-center text-white">
      Creado con ❤️ por
      <a
        href={PUBLIC_LINKEDIN_LINK}
        target="_blank"
        class="text-blue-500 opacity-80 hover:opacity-100"
      >
        Dani
      </a>
    </div>
  </div>
</footer>
