---
import { LogoFacebook } from "@/components/icons/LogoFacebook";
import { LogoInstagram } from "@/components/icons/LogoInstagram";
const PUBLIC_FACEBOOK_LINK = import.meta.env.PUBLIC_FACEBOOK_LINK;
const PUBLIC_INSTAGRAM_LINK = import.meta.env.PUBLIC_INSTAGRAM_LINK;

---
<main class="container max-w-7xl m-auto mb-24 mt-7 flex items-center justify-evenly gap-7 flex-wrap h-auto">
  <div class="w-52 h-72 rounded-md border-2 border-border ">
    <img
      class="aspect-square w-full h-full transform translate-x-0 translate-y-0 rounded-md shadow-md lg:translate-x-7 lg:translate-y-7"
      src="./daniel-vasquez.jpg"
      alt="Daniel Vásquez, Desarrollador Full Stack."
    />
  </div>

  <div class="max-w-xl flex flex-col justify-center gap-3 translate-y-0 lg:translate-y-7">
    <div>
      <h1 class="text-3xl font-bold text-golden md:text-4xl">
        Daniel Vásquez,
      </h1>
      <h1 class="text-xl font-bold text-white md:text-2xl">
        Desarrollador Full Stack.
      </h1>
    </div>
    <p class="text-xl text-white">
      Poseo una sólida experiencia en programación de alrededor de un dos años, durante el cual he trabajado en proyectos desafiantes utilizando lenguajes de programación como Python y herramientas de servicios en la nube de AWS, como: S3 y Cloudwatch. Además, he trabajado con los hooks de React, tales como: useState, useEffect y useContext. Tengo expreriencia trabajando con Astro, tailwind, redux y redux toolkit. Soy apasionado por el diseño web y siempre estoy en busca de nuevas oportunidades para aprender y mejorar mis habilidades como desarrollador.
    </p>
    <div class="flex gap-4 justify-center sm:justify-start">
      <a
        class="transition-all hover:scale-90"
        href={PUBLIC_FACEBOOK_LINK}
        target="_blank"
        title="Facebook"
      >
        <LogoFacebook className="text-golden w-10" />
      </a>

      <a
        class="transition-all hover:scale-90"
        href={PUBLIC_INSTAGRAM_LINK}
        target="_blank"
        title="Instagram"
      >
        <LogoInstagram className="text-golden w-10" />
      </a>
    </div>
  </div>
</main>