---
import danielImg from "@/images/daniel-vasquez.jpg"
import SocialNetworks from "@/components/SocialNetworks.astro";

const PUBLIC_LINKEDIN_LINK = import.meta.env.PUBLIC_LINKEDIN_LINK;

---
<main class="container max-w-7xl m-auto mb-20 mt-0 flex items-center justify-evenly gap-7 flex-wrap h-auto md:mt-7">
  <div class="w-52 h-72 rounded-md border-2 border-border ">
    <a
      href={PUBLIC_LINKEDIN_LINK}
      target="_blank"
      title="Linkedin"
      class="aspect-square hover:scale-95"
    >
      <img
        class="aspect-square w-full h-72 transform translate-x-0 translate-y-0 rounded-md shadow-md transition lg:translate-x-4 lg:translate-y-4 hover:scale-105"
        src={danielImg.src}
        alt="Daniel Vásquez, Desarrollador Full Stack."
      />
    </a>
  </div>

  <div class="max-w-3xl flex flex-col justify-center gap-3 translate-y-0 lg:translate-y-7">
    <div>
      <h1 class="text-3xl font-bold text-center text-golden md:text-4xl md:text-start">
        Daniel Vásquez, <span class="text-xl font-bold text-white">desarrollador Full Stack.</span>
      </h1>
    </div>
    <p class="text-xl text-white text-justify">
      Poseo una sólida experiencia en programación de alrededor de un dos años, 
      durante el cual he trabajado en proyectos desafiantes utilizando lenguajes 
      de programación como <span>Javascript</span> con experiencia en 
      <span class="text-golden font-bold">Shopify</span> - 
      <span class="text-golden font-bold">liquid</span> y
      conocimentos en
      <span class="text-golden font-bold">Shopify</span> - 
      <span class="text-golden font-bold">Remix</span>.
    </p>
    <p class="text-xl text-white text-justify">
      Con <span class="text-golden font-bold">Python</span> y 
      herramientas de servicios en la nube de AWS, 
      como: <span class="text-golden font-bold">S3</span> y 
      <span class="text-golden font-bold">Cloudwatch</span>, 
      además, he trabajado con los hooks de 
      <span class="text-golden font-bold">React</span>, tales como: useState, 
      useEffect y useContext. Tengo experiencia trabajando con 
      <span class="text-golden font-bold">Astro</span>, 
      <span class="text-golden font-bold">tailwind</span>, 
      <span class="text-golden font-bold">redux</span> y 
      <span class="text-golden font-bold">redux toolkit</span>.
    </p>
    <p class="text-xl text-white text-justify">
      Soy apasionado por el diseño web y 
      siempre estoy en busca de nuevas oportunidades para aprender y mejorar mis 
      habilidades como desarrollador.
    </p>
    <SocialNetworks />
  </div>
</main>
