---
import danielImg from "@/images/bg-main-dani-removebg.webp";
import { Technologies } from "@/components/Technologies";
const PUBLIC_LINKEDIN_LINK = import.meta.env.PUBLIC_LINKEDIN_LINK;

---
<main class="grid grid-cols-1 items-center justify-evenly gap-20 h-auto mb-20 xl:gap-2 xl:grid-cols-[1fr_400px]">
  <div class="flex flex-col justify-center px-5 gap-3 translate-y-0 lg:translate-y-7">
    <div>
      <div class="flex gap-1 justify-center items-center flex-wrap text-justify mb-2 md:justify-start">
        <span class="text-2xl font-bold text-black">Hola, soy</span>
        <h1 class="text-3xl font-bold text-golden lg:text-5xl">
          Daniel Vásquez,
        </h1>
        <span class="text-2xl font-bold text-black">
          desarrollador Full Stack.
        </span>
      </div>
      <p class="text-2xl text-black mb-2 text-justify">
        Cuento con experiencia en el emocionante mundo del desarrollo web. A lo
        largo de mi carrera, he adquirido una amplia gama de habilidades y
        conocimientos que me han permitido trabajar en diversos proyectos y
        desafíos tecnológicos.
      </p>
      <p class="text-2xl text-black mb-2 text-justify">
        Te comparto mis habilidades en las siguientes áreas:
      </p>
    </div>
    <div class="fadeInLeft">
      <Technologies client:idle />
      <div class="flex w-full justify-center mt-7 font-bold">
        <p class="text-gray-400">Arrastra y suelta</p>
      </div>
    </div>
  </div>

  <div class="zoomIn w-auto m-auto">
    <a
      href={PUBLIC_LINKEDIN_LINK}
      target="_blank"
      title="Linkedin"
      class="aspect-square"
    >
      <img
        class="aspect-square w-full h-full rounded-lg transition duration-500 ease-in-out transform hover:drop-shadow-xl hover:rotate-6"
        src={danielImg.src}
        alt="Daniel Vásquez, Desarrollador Full Stack."
        title="Daniel Vásquez, Desarrollador Full Stack."
      />
    </a>
  </div>
</main>

<style>
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
  }
</style>
