---
import danielImg from "@/images/daniel-vasquez-removebg.png";
import SocialNetworks from "@/components/SocialNetworks.astro";
import { Technologies } from '@/components/Technologies'
const PUBLIC_LINKEDIN_LINK = import.meta.env.PUBLIC_LINKEDIN_LINK;

---
<main class="container max-w-7xl m-auto flex items-center justify-evenly gap-7 flex-wrap h-auto -mt-0 lg:-mt-20 lg:h-screen">
  <div class="max-w-4xl flex flex-col justify-center px-5 gap-3 translate-y-0 lg:translate-y-7">
    <div>
      <div class="flex gap-1 items-center flex-wrap text-justify">
        <span class="text-2xl font-bold text-black">Hola, soy</span>
        <h1 class="text-4xl font-bold text-golden lg:text-6xl">Daniel Vásquez,</h1>
        <span class="text-2xl font-bold text-black">desarrollador Full Stack.</span>
      </div>
      <p class="text-2xl text-black mb-2 text-justify">
        Cuento con experiencia en el emocionante mundo 
        del desarrollo web. A lo largo de mi carrera, he adquirido una amplia 
        gama de habilidades y conocimientos que me han permitido trabajar en 
        diversos proyectos y desafíos tecnológicos.
      </p>
      <p class="text-2xl text-black mb-2 text-justify">
        Te comparto mis habilidades en las siguientes áreas:
      </p>
    </div>
    <Technologies />
    <SocialNetworks />
  </div>

  <div class="w-64 h-96">
    <a
      href={PUBLIC_LINKEDIN_LINK}
      target="_blank"
      title="Linkedin"
      class="aspect-square hover:scale-95 rounded-lg"
    >
      <img
        class="aspect-square w-full h-full rounded-lg transition duration-300 ease-in-out transform hover:scale-105"
        src={danielImg.src}
        alt="Daniel Vásquez, Desarrollador Full Stack."
      />
    </a>
  </div>

</main>
