---
import { DropdownMenu } from "@/components/DropdownMenu";
import SocialNetworks from "@/components/SocialNetworks.astro";
import { ROUTES } from "@/constants/routes";
const PUBLIC_LINKEDIN_LINK = import.meta.env.PUBLIC_LINKEDIN_LINK;
---

<header class="z-10 sticky top-0 w-full">
  <div class="bg-white shadow-lg flex items-center justify-between mx-auto overflow-visible py-7 px-14 rounded-2xl rounded-t-none border-b border-border">
    <a
      href={PUBLIC_LINKEDIN_LINK}
      target="_blank"
      class="text-blakc"
      title="LinkedIn"
    >
      <h2 class="text-2xl text-center font-bold hover:underline">
        Daniel Vásquez
      </h2>
    </a>

    <div class="hidden lg:block">
      <SocialNetworks />
    </div>

    <nav class="hidden md:block">
      <ul class="flex gap-4">
        {ROUTES.map(({ href, label }) => (
          <li>
            <a
              href={href}
              class="text-black font-semibold transition-colors duration-300 border-golden border-l-4 pl-2 hover:underline"
              title={label}
            >
              {label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
    
    <div class="block md:hidden">
      <DropdownMenu client:idle />
    </div>
  </div>
</header>
