---
import { DropdownMenu } from "@/components/DropdownMenu";
import { ROUTES } from "@/constants/routes";

---
<header
  id="header"
  class="p-3 transition-colors duration-500 z-10"
>
  <div class="container mx-auto top-0 md:sticky">
    <div class="flex flex-row gap-7 justify-between py-7 sm:justify-center sm:flex-col sm:h-screen">
      <a class="" href="/">
        <div class="flex items-center gap-2">
          <h2 class="text-white text-lg font-bold opacity-80 hover:opacity-100">
            Daniel Vásquez
          </h2>
        </div>
      </a>
      <nav class="hidden md:block">
        <ul class="flex flex-col gap-3">
          {ROUTES.map(({ href, label }) =>
            <li>
              <span class="text-golden">►</span>
              <a
                href={href}
                class="text-white hover:text-golden transition-colors duration-300"
              >
                {label}
              </a>
            </li>
          )}
        </ul>
      </nav>
      <div class="block md:hidden">
        <DropdownMenu client:idle />
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener("scroll", () => {
    const header = document.getElementById("header");
    if (header !== null && header !== undefined) {
      if (window.scrollY > 50) {
        header.classList.add("bg-blue");
      } else {
        header.classList.remove("bg-blue");
      }
    }
  });
</script>

<style>
  /* Estilo para el menú desplegable */
  .submenu {
    display: none;
    height: 310px;
    overflow-y: scroll;
    min-width: 270px;
    scrollbar-color: #fbbf24 transparent;
  }

  /* Mostrar el menú desplegable al hacer hover */
  .menu:hover .submenu {
    display: block;
  }
</style>
