---
import { TECHNOLOGIES } from "@/constants/technologies";
---

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  {TECHNOLOGIES.map(({ name, description, link }) => (
    <div class="bg-blue-light flex flex-col gap-2 p-6 border-2 border-black rounded-lg shadow cursor-pointer hover:bg-blue hover:border-gray-300 hover:shadow-lg">
      <h5 class="text-2xl font-bold tracking-tight text-white">
        {name}
      </h5>
      <p class="font-normal text-gray-400">
        {description} {""}
        {link && (
          <a
            href={link}
            target="_blank"
            class="text-blue-500 font-semibold text-base underline hover:text-white"
          >
            Proyecto
          </a>
        )}
      </p>
    </div>
  ))}
</div>
