---
import { ViewTransitions } from 'astro:transitions';
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';
import danielImg from "@/images/daniel-vasquez-og-image.webp"

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description || title} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/portfolio.svg" />
    <meta name="theme-color" content="#000000" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description || title} />
    <meta property="og:image" content={danielImg.src} />
    <meta property="og:description" content="Hola, soy Daniel Vásquez, desarrollador Full Stack." />
    <title>{title}</title>
    <GoogleAnalytics />
    <ViewTransitions />
    
  </head>
  <body class="bg-white">
    <div>
      <Navbar />
      <slot />
    </div>
    <Footer />
  </body>

  <script>
    let previousTitle = document.title;
  
    window.addEventListener("blur", () => {
      previousTitle = document.title;
      document.title = "No te vayas 😢";
    });
    
    window.addEventListener("focus", () => {
      document.title = previousTitle;
    });
  </script>
</html>
